<h1> Pandas </h1>

One Notebook for handling all important functions for using pandas library along with example use-cases

<h3> Handling Dataframes </h3>

In [2]:
import pandas as pd

In [3]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data,index=labels)


# df = pd.DataFrame(Dictionary, index = labels)
"""
Index will contain new row naming values; Default row indices will be numerical starting from 1

Keys -> Column Names
Values -> Row Values in that column(Key)
"""

In [46]:
# Checking pandas info
pd.__version__
pd.show_versions()


# Dataframe Details
df.info()
df.describe()
df.columns


# ADDING NEW ROWS
df.loc[3] = ["Winsimxr", "Yellow"]

# Adding rows using dictionary
new_row = pd.DataFrame({'A': [10], 'B': [11], 'C': [12], 'D': [21]})
df = pd.concat([df, new_row], ignore_index=True)

# Here ignore_index = True, will make it add as new row to our existing table
# If ignore_index is ommited, this new row will still be added but its index will be 0
"""
A table have indices of rows as 0,1,2
B is a new row
If we used concat on both without using ignore_index=True

New table A will have indices of rows as follows:
0,1,2,0
"""


# ADDING NEW COLUMNS
df["New_Column_Name"] = ["val1", "val2"]

# Combining two dataframes
# Both DFs should have same number of rows and aligned indexes
# If there is any mismatch values will be filled with NaN
result = pd.concat([df1,df2],axis=1)

# To get rid of index error use
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
result = pd.concat([df1, df2], axis=1)
# If drop=True is not used - It will add new column of indices at the starting new column


"""-----------------------------------------------------------------------------------"""


# Dropping rows
df = df.drop(1)
df = df.drop("b")
df.drop("b", inplace=True) # For making changes in place
df = df.drop(["a","c"])
df = df.drop(df.loc["a":"c"].index)

# Dropping columns
df = df.drop("Name", axis=1)
df = df.drop(["Name","Age"], axis=1)
df = df.drop(columns = ["Name","age"])
df = df.drop(df.columns[2:5], axis=1)

INSTALLED VERSIONS
------------------
commit                : 0691c5cf90477d3503834d983f69350f250a6ff7
python                : 3.10.0
python-bits           : 64
OS                    : Windows
OS-release            : 10
Version               : 10.0.22631
machine               : AMD64
processor             : Intel64 Family 6 Model 165 Stepping 2, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_India.1252

pandas                : 2.2.3
numpy                 : 2.2.6
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : 25.1.1
Cython                : None
sphinx                : None
IPython               : 8.36.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.13.4
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : 3.1.6
lxml.etree            : None
matplotlib            : 3.10.3
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
psycopg2              : None
pymysql               : 1.4.6
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : 1.15.3
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2024.1
qtpy                  : None
pyqt5                 : None
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

ValueError: cannot set a row with mismatched columns

In [49]:
# loc - label-based indexing
df.loc["a"]
df.loc["a","animal"]

df.loc["a":"c",]
df.loc["a":"c","animal"]
df.loc["a":"c","animal":"priority"]

df.loc["a":"c",["animal","priority"]]
df.loc[["a","c"],"animal":"priority"]
df.loc[["a","c"],["animal","priority"]]


# iloc - Integer(position) based indexing
df.iloc[1,]
df.iloc[[1,2,4],]
df.iloc[1:4,]
df.iloc[1:3,1:4]

df.loc[df.index[6],["animal","age"]]
df.loc[df.index[3:8],["animal","age"]]
df.loc[df.index[[2,3,5]],["animal","age"]]

  animal  age
c  snake  0.5
d    dog  NaN
f    cat  2.0

In [51]:
# READING FILES

df = pd.read_csv("filename.csv", low_memory=False)
df = pd.read_excel("filename.xlsx")
df = pd.read_pickle("filename.pkl")
df = pd.read_json("filename.json")
df = pd.read_html("https://ramis.com/tablepage")
df = pd.read_parquet("filename.parquet")
df = pd.read_sql("SELECT * FROM TABLE", connection)

# Reading CSVs in chunks - It uses mechanism similar to generator

chunk_iter = pd.read_csv("filename.csv", chunksize=10000) # Here chunk_iter is a generator like object called TextFileReader object

# Using list comprehension
result = pd.concat([chunk for chunk in pd.read_csv("filename.csv",chunksize=5000)])

# Using generator - more memory efficient
result = pd.concat((chunk for chunk in pd.read_csv("filename.csv",chunksize=5000)))

# Reading specific columns from a csv file
cols = ["Name", "Age", "Color"]
df = pd.read_csv("filename.csv", usecols=cols)

1

In [52]:
# WRITING FILES

df.to_csv("output.csv", index=False)
df.to_excel("output.csv", index=False)
df.to_json("output.json", orient='records') # orient="columns" for column centric view
df.to_html("output.html")
df.to_sql("table", con=engine, if_exists="replace")
df.to_parquet("output.parquet", index=False)
df.to_pickle("output.pkl")


import json
with open("file.json") as f:
    data = json.load(f)

# json.loads(data) Loading JSON Dict objects
# json.dumps(data) -> dictionary to JSON

# If using JSON with files - function names will become
# json.load() and json.dump()

In [ ]:
# SQL JOINS

# Outer Join
result = pd.merge(df1, df2, on='id', how='outer')

"""
Select * from table T1
FULL OUTER JOIN table T2
ON
T1.id = T2.id
"""

# Inner Join
result = pd.merge(df1, df2, on='id', how='inner')

"""
Select * from table T1
INNER JOIN table T2
ON
T1.id = T2.id
"""



# Left Join
result = pd.merge(df1, df2, on='id', how='left')

"""
Select * from table T1
LEFT JOIN table T2
ON
T1.id = T2.id
"""

# Right Join
result = pd.merge(df1, df2, on='id', how='right')

"""
Select * from table T1
RIGHT JOIN table T2
ON
T1.id = T2.id
"""

In [ ]:
# Handling NA

df.isnull()
df.dropna()
df.fillna()
df.rename(columns{'old':'new'})
df.columns = ["A","B"]
df.replace(old,new)
df.apply(func)

df.pivot(index, columns, values)
"""
pivoted = df.pivot(index="Color", columns="Names", values="Alias")
"""
# If index+columns are not unique then go for pivot_table

df.pivot_table()
"""
pivoted = df.pivot_table(index="Color", columns="Names", values="Alias", aggfunc="count")
"""

df.melt(df) # unpivot
"""
melted = pd.melt(df, id_vars='Color', var_name='Names', value_name='Alias')
"""

transposed = df.T

df.reset_index() # Defaults indices to 0,1,2 etc